/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root{
    --fond-color: #fff;
    --fond-section: #fd7e37;
    --primary-text: #331100;
}

:focus{
    outline: 1px solid var(--fond-color);
}

body{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--fond-color);
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.2;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (min-width: 36em) {
     .container{
          max-width: 54.6rem;
     }
}

@media screen and (min-width: 48em) {
     .container{
          max-width: 73.8rem;
     }
}

@media screen and (min-width: 62em) {
     .container{
          max-width: 96.2rem
     }
     h1{
         font-size: 7.2rem;
     }
}

@media screen and (min-width: 75em) {
     .container{
	     max-width: 127.6rem;
     }
}

/* Header */

[hidden]{
    display: block;
    visibility: hidden;
}

.main-header{
    background-color: var(--fond-section);
    padding-top: 3rem;
    z-index: 2;
    position: relative;
}

.main-nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.logo{
    text-transform: uppercase;
    color: var(--fond-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 0.6;
}

.menu{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0%;
    transform: translateX(-100%);
	transition: transform .5s ease-in-out, visibility .001s .5s;
    background-color: var(--fond-section);
}

.menu:not([hidden]) {
	transform: translateX(0);
     transition: visibility .001s, transform .5s .001s ease-in-out;
     background-color: var(--fond-section);
}

.toggle-menu{
     background: url(../img/burger-menu.svg);
     filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(274deg) brightness(106%) contrast(101%);
     width: 3rem;
     height: 3rem;
     border: 0;
}


.menu-link{
    display: block;
    padding: 1rem 2rem;
    margin: 2.8rem 0rem;
    color: var(--fond-color);
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.menu-link:hover,
.menu-link:focus{
    background-color: var(--fond-color);
    color: var(--fond-section)
}

@media screen and (min-width: 48em) {
    .toggle-menu{
        display: none;
   }
   .menu{
       position: relative;
       visibility: visible;
       display: flex;
       align-items: center;
       background-color: transparent;
       transform: translateX(0);
   }
   .main-nav{
       display: block;
       padding-bottom: 0rem;
   }
}
@media screen and (min-width: 62em) {
    .menu{
        justify-content: space-between;
    }
    .main-header{
        padding-top: 0;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      .menu-link {
        font-size: 2rem;
    }
}

/* Hero */

.hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-resolution: 144dpi){
    .hero{
        background-image: url(../img/hero@2x.jpg);
    }
}

.hero .container{
    display: flex;
    justify-content: center;
    padding-top: 24rem;
    padding-bottom: 12rem;
}

.hero-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    max-width: 95.6rem;
    color: var(--fond-color);
    padding-top: 2.3rem;
    background-color: #00000080;
}

.cta{
    align-self: flex-end;
    text-decoration: none;
    background-color: var(--fond-section);
    color: var(--fond-color);
    font-size: 3rem;
    font-weight: 600;
    line-height: 0.9;
    padding: 2rem 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cta:hover,
.cta:focus{
    background-color: var(--fond-color);
    color: var(--fond-section);
}
@media screen and (min-width: 62em) {
    .hero .container{
        justify-content: flex-end;
    }
    .hero-title{
        max-width: 95.6rem;
        padding-left: 2.4rem;
}
    .cta{
        font-size: 4rem;
    }


/* Les actualités */

.last-actu{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.actu-title{
    margin-bottom: 4rem;
}

.box-actu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.2rem;
}

.card-actu{
    box-shadow: 0px 0px 48px #00000029;
    border-radius: .4rem;
}

.card-group{
    padding-left: 1.4rem;
    padding-right: 1.6rem;
    text-align: left;
}

.date-actu:before{
    content: "";
    display: inline-flex;
    width: 1.6rem;
    height: 1.8rem;
    background-image: url(../img/icone-date.svg);
    margin-right: .8rem;
}

.date-actu{
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
    color: #663014;
    font-size: 1.6rem;
    line-height: 1.5;
}

.card-title{
    font-weight: 600;
}

.read-more-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--fond-section);
    color: var(--fond-color);
    text-decoration: none;
}

.read-more-link:hover,
.read-more-link:focus{
    background-color: var(--fond-color);
    color: var(--fond-section)
}

.arrow-more{
    margin: 0 1.5rem;
}

.read-more-link:hover img,
.read-more-link:focus img{
    filter: invert(52%) sepia(96%) saturate(963%) hue-rotate(336deg) brightness(102%) contrast(98%);
}

/* Les étudiants super cool */

.students{
    background-color: var(--fond-section);
    color: var(--fond-color);
    padding-top: 4rem;
    padding-bottom: 4.3rem;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
}

.title-students{
    text-align: center;
}

.students-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10.9rem;
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 4.3rem;
}

.students-img{
    border-radius: 50%;
    height: 21.8rem;
    width: 21.8rem;
}

.students-text{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.5;
}

.students-more{
    color: var(--fond-color);
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1rem;
}

.students-more:hover,
.students-more:focus{
    background-color: var(--fond-color);
    color: var(--fond-section);
}

/* Les modules au top */

.modules-formation{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.formation-title{
    text-align: center;
    padding-bottom: 4rem;
}

.box-formation{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.2rem;
}

.formation-card{
    box-shadow: 0px 0px 48px #00000029;
    border-radius: .4rem;
}

.formation-group{
    padding-left: 1.4rem;
    padding-right: 1.6rem;
    text-align: left;
}

.module-title{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-weight: 600;
    line-height: 1.5;
}

/* Footer */

.contact{
    background-color: var(--fond-section);
    color: var(--fond-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top: 1px solid #707070;
}

.contact-global{
    display: flex;
    justify-content: space-between;
}

.adresse-text{
    font-weight: 600;
    line-height: 1.8;
}

.mentions{
    display: flex;
    align-items: center;
}

.mentions-text{
    margin-left: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25rem;
    text-decoration: none;
    color: var(--fond-color);
    padding: 1rem;
}

.mentions-text:hover,
.mentions-text:focus{
    color: var(--fond-section);
    background-color: var(--fond-color);
}

.social-icons{
    display: flex;
    align-items: center;
    justify-items: space-between;
} 

.social-link{
    margin-right: 6rem;
}

.social-img:hover,
.social-link:focus{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(0%) contrast(100%);
}